USE [SR_Test]
GO
/****** Object:  Table [dbo].[AcceptingPeople]    Script Date: 4/29/2019 2:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcceptingPeople](
	[ACP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACP_Category] [nvarchar](max) NOT NULL,
	[ACP_Login] [nvarchar](max) NOT NULL,
	[ACP_Limit] [decimal](18, 2) NOT NULL,
	[ACP_SubstituteLogin] [nvarchar](max) NULL,
	[ACP_SubstituteLimit] [decimal](18, 2) NULL,
 CONSTRAINT [PK_AcceptingPeople] PRIMARY KEY CLUSTERED 
(
	[ACP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/29/2019 2:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ORG_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_Name] [nvarchar](max) NOT NULL,
	[ORG_Login] [nvarchar](max) NOT NULL,
	[ORG_ManagerID] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcceptingPeople] ON 

INSERT [dbo].[AcceptingPeople] ([ACP_ID], [ACP_Category], [ACP_Login], [ACP_Limit], [ACP_SubstituteLogin], [ACP_SubstituteLimit]) VALUES (1, N'Gastronomia', N'konrad1', CAST(700.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[AcceptingPeople] ([ACP_ID], [ACP_Category], [ACP_Login], [ACP_Limit], [ACP_SubstituteLogin], [ACP_SubstituteLimit]) VALUES (2, N'Gastronomia', N'mateusz1', CAST(700.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[AcceptingPeople] ([ACP_ID], [ACP_Category], [ACP_Login], [ACP_Limit], [ACP_SubstituteLogin], [ACP_SubstituteLimit]) VALUES (3, N'Gastronomia', N'Maciek2', CAST(700.00 AS Decimal(18, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[AcceptingPeople] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ORG_ID], [ORG_Name], [ORG_Login], [ORG_ManagerID]) VALUES (4, N'Szymon', N'simon1', NULL)
INSERT [dbo].[Employees] ([ORG_ID], [ORG_Name], [ORG_Login], [ORG_ManagerID]) VALUES (5, N'Maciek', N'maciek1', 4)
INSERT [dbo].[Employees] ([ORG_ID], [ORG_Name], [ORG_Login], [ORG_ManagerID]) VALUES (6, N'Patryk', N'patryk1', 4)
SET IDENTITY_INSERT [dbo].[Employees] OFF
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees_ORG_ManagerID] FOREIGN KEY([ORG_ManagerID])
REFERENCES [dbo].[Employees] ([ORG_ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees_ORG_ManagerID]
GO
